.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 100%;
  margin: 0 auto; 
}

.text {
  text-align: center; 
  padding: 0 20px; 
}

h1 {
  color: #6a0dad; 
  margin-bottom: 10px; 
}

p {
  color: #4b0082;
  line-height: 1.6;
  margin-bottom: 20px; 
}

.about img {
  width: 400px;
  margin-top: 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* About.module.css */

.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.aboutTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.aboutText {
  font-size: 16px;
  line-height: 1.6;
}
