.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgba(34, 36, 35, 0.837);
}

.wrapper ul{
 display: flex;
 list-style: none;
 gap: 20px;
}

.wrapper ul li{
    display: flex;
    list-style: none;
    gap: 20px;
   }

.logo {
    width: 90px
  } 

.link{
    color: white
}

.link:hover{
  color: rgb(166, 0, 149);
  transition: ease-in-out 0.3s;
}


.icon {
    background-color: black;
    fill: white;
    transition: fill 0.3s ease-in-out;
  }
  
  .icon:hover,
  .icon:focus {
    fill: rgb(160 123 80);
  }
  